## Load the dataset

In [1]:
import pandas as pd 
dataset=pd.read_csv("Placement.csv")

In [2]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
dataset=dataset.drop('sl_no',axis=1)  # axis= 0(drop rows), axis= 1(drop cols)

In [4]:
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

# QUAN AND QUAL - SEPARATION

In [5]:
# dataset.info() = shows detailed information about the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          215 non-null    object
 1   ssc_p           215 non-null    float64
 2   ssc_b           215 non-null    object
 3   hsc_p           215 non-null    float64
 4   hsc_b           215 non-null    object
 5   hsc_s           215 non-null    object
 6   degree_p        215 non-null    float64
 7   degree_t        215 non-null    object
 8   workex          215 non-null    object
 9   etest_p         215 non-null    float64
 10  specialisation  215 non-null    object
 11  mba_p           215 non-null    float64
 12  status          215 non-null    object
 13  salary          148 non-null    float64
dtypes: float64(6), object(8)
memory usage: 23.6+ KB

In [6]:
Quan_data_col = ["ssc_p","hsc_p","degree_p", "etest_p", "mba_p","salary" ]  # continuous values
Qual_data_col = ["gender", "ssc_b", "hsc_b","hsc_s", "degree_t","workex", "specialisation", "status" ]  # nominal value

## logic to separate Quan & Qual - mannually

In [7]:
Quan_data_dict = {}
# convert the data into dictionary
for i in Quan_data_col:
    Quan_data_dict[i]=dataset[i]
# pass the converted dictionary to make DataFrame
Quan_data = pd.DataFrame(data=Quan_data_dict, columns = Quan_data_col)
Quan_data

     ssc_p  hsc_p  degree_p  etest_p  mba_p    salary
0    67.00  91.00     58.00     55.0  58.80  270000.0
1    79.33  78.33     77.48     86.5  66.28  200000.0
2    65.00  68.00     64.00     75.0  57.80  250000.0
3    56.00  52.00     52.00     66.0  59.43       NaN
4    85.80  73.60     73.30     96.8  55.50  425000.0
..     ...    ...       ...      ...    ...       ...
210  80.60  82.00     77.60     91.0  74.49  400000.0
211  58.00  60.00     72.00     74.0  53.62  275000.0
212  67.00  67.00     73.00     59.0  69.72  295000.0
213  74.00  66.00     58.00     70.0  60.23  204000.0
214  62.00  58.00     53.00     89.0  60.22       NaN

[215 rows x 6 columns]

In [8]:
Qual_data_dict = {}
# convert the data into dictionary
for i in Qual_data_col:
    Qual_data_dict[i]=dataset[i]
# pass the converted dictionary to make DataFrame
Qual_data = pd.DataFrame(data=Qual_data_dict, columns = Qual_data_col)
Qual_data

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

## logic to separate Quan & Qual - Automation logic

In [9]:
# dir(dataset) # used to view all attributes/methods that allows to perform specific operations - dataset: DataFrame

In [10]:
# Approach - 1
quan=[]
qual=[]
for columnName in dataset.columns:
    if (dataset[columnName].dtypes == "O"):   # "O" - Object Data type
        qual.append(columnName)
    else:
        quan.append(columnName)
print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [11]:
 # Approach - 2  : using list comprehension
quan = [ columnName for columnName in dataset.columns if dataset[columnName].dtypes != "O" ]
qual = [ columnName for columnName in dataset.columns if dataset[columnName].dtypes == "O" ]

print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [12]:
 # Approach - 3  :  using Dataframe methods 
quan = dataset.select_dtypes(exclude='object').columns
qual = dataset.select_dtypes(include='object').columns

print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: Index(['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'], dtype='object')
qual: Index(['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex',
       'specialisation', 'status'],
      dtype='object')

## logic to separate Quan & Qual - Automation logic using Function

In [13]:
def quanQual(dataset):  
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        if (dataset[columnName].dtypes == "O"):   # "O" - Object Data type
            qual.append(columnName)
        else:
            quan.append(columnName)
    return quan,qual

quan,qual = quanQual(dataset)  #calling quanQual() function
print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [14]:
# storing result in variable
quan , qual = quanQual(dataset)

print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

## logic to separate Quan & Qual - Automation logic using Class

In [15]:
from Univariate_analysis import Univariate
obj = Univariate(dataset)         # creating instance for my class [stored in file Univariate.py]
quan, qual = obj.quanQual()

print("quan:",quan)  # numerical data
print("qual:",qual)  # categorical data

quan: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
qual: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

# MEASURE OF CENTRAL TENDENCY

In [16]:
# Mean, Median, Mode for 'ssc_p' columns 
dataset["ssc_p"].mean()    #average

67.30339534883721

In [17]:
dataset["ssc_p"].median()      #midpoint

67.0

In [18]:
dataset["ssc_p"].mode()[0]      #most repeative data

62.0

In [19]:
# to view the mean, median, etc.. for the dataset
dataset.describe()       #summarize the central tendency, dispersion and shape of a dataset’s distribution,

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [20]:
# find mean, median, mode for quantitative data of the dataset
descriptive_analysis = pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
descriptive_analysis

       ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN      NaN     NaN   NaN    NaN

In [21]:
descriptive_analysis.loc["Mean","hsc_p"]=0   # univariate_analysis.loc[<row_index>,<column>]
descriptive_analysis

       ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN     0      NaN     NaN   NaN    NaN
Median   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN      NaN     NaN   NaN    NaN

In [22]:
for columnName in quan:
    descriptive_analysis.loc["Mean",columnName]=dataset[columnName].mean()
    descriptive_analysis.loc["Median",columnName]=dataset[columnName].median()
    descriptive_analysis.loc["Mode",columnName]=dataset[columnName].mode()[0]

descriptive_analysis

            ssc_p      hsc_p   degree_p    etest_p      mba_p         salary
Mean    67.303395  66.333163  66.370186  72.100558  62.278186  288655.405405
Median       67.0       65.0       66.0       71.0       62.0       265000.0
Mode         62.0       63.0       65.0       60.0       56.7       300000.0

# Measure of location of data

## Percentile

In [23]:
dataset["hsc_p"].sort_values()   # original data

49     37.00
42     39.00
120    40.00
206    42.00
169    42.16
       ...
78     90.90
0      91.00
134    92.00
177    97.00
24     97.70
Name: hsc_p, Length: 215, dtype: float64

In [24]:
import numpy as np 
np.percentile(dataset["hsc_p"],100)     # in python - we use numpy library to compute percentile for our dataset 
# Note: This returns result without handling  missing values (Nan)
# np.percentile(column_data,percentile)

97.7

In [25]:
descriptive_analysis = pd.DataFrame(index=["Mean","Median","Mode", "Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive_analysis.loc["Mean",columnName]=dataset[columnName].mean()
    descriptive_analysis.loc["Median",columnName]=dataset[columnName].median()
    descriptive_analysis.loc["Mode",columnName]=dataset[columnName].mode()[0]
    descriptive_analysis.loc["Q1:25%",columnName]= dataset.describe()[columnName]["25%"]   # this code handles missing values by default
    descriptive_analysis.loc["Q2:50%",columnName]= dataset.describe()[columnName]["50%"] 
    descriptive_analysis.loc["Q3:75%",columnName]= dataset.describe()[columnName]["75%"] 
    descriptive_analysis.loc["99%",columnName]= np.percentile(dataset[columnName],99)   
    descriptive_analysis.loc["Q4:100%",columnName]= dataset.describe()[columnName]["max"] 

descriptive_analysis

             ssc_p      hsc_p   degree_p    etest_p      mba_p         salary
Mean     67.303395  66.333163  66.370186  72.100558  62.278186  288655.405405
Median        67.0       65.0       66.0       71.0       62.0       265000.0
Mode          62.0       63.0       65.0       60.0       56.7       300000.0
Q1:25%        60.6       60.9       61.0       60.0     57.945       240000.0
Q2:50%        67.0       65.0       66.0       71.0       62.0       265000.0
Q3:75%        75.7       73.0       72.0       83.5     66.255       300000.0
99%           87.0      91.86      83.86       97.0    76.1142            NaN
Q4:100%       89.4       97.7       91.0       98.0      77.89       940000.0

In [40]:
# # Note:
# loc → label-based indexing     --  dataset.loc[rows, columns]  
# iloc → position-based indexing

## IQR (inter quartile range) -> Finding Outliers

In [27]:
descriptive_analysis = pd.DataFrame(index=["Mean","Median","Mode", "Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR", "1.5_rule", "lower_bound", "upper_bound","min","max"],columns=quan)
for columnName in quan:
    descriptive_analysis.loc["Mean",columnName]=dataset[columnName].mean()
    descriptive_analysis.loc["Median",columnName]=dataset[columnName].median()
    descriptive_analysis.loc["Mode",columnName]=dataset[columnName].mode()[0]
    descriptive_analysis.loc["Q1:25%",columnName]= dataset.describe()[columnName]["25%"]   # this code handles missing values by default
    descriptive_analysis.loc["Q2:50%",columnName]= dataset.describe()[columnName]["50%"] 
    descriptive_analysis.loc["Q3:75%",columnName]= dataset.describe()[columnName]["75%"] 
    descriptive_analysis.loc["99%",columnName]= np.percentile(dataset[columnName],99)   
    descriptive_analysis.loc["Q4:100%",columnName]= dataset.describe()[columnName]["max"] 
    descriptive_analysis.loc["IQR",columnName]= descriptive_analysis.loc["Q3:75%"][columnName] - descriptive_analysis.loc["Q1:25%"][columnName]
    descriptive_analysis.loc["1.5_rule",columnName]= 1.5 * descriptive_analysis.loc["IQR",columnName]
    descriptive_analysis.loc["lower_bound",columnName]= descriptive_analysis.loc["Q1:25%"][columnName] - descriptive_analysis.loc["1.5_rule",columnName]
    descriptive_analysis.loc["upper_bound",columnName] = descriptive_analysis.loc["Q3:75%"][columnName] + descriptive_analysis.loc["1.5_rule",columnName]
    descriptive_analysis.loc["min",columnName] = dataset[columnName].min()
    descriptive_analysis.loc["max",columnName] = dataset[columnName].max()
    

descriptive_analysis

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,75.7,73.0,72.0,83.5,66.255,300000.0
99%,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,15.1,12.1,11.0,23.5,8.31,60000.0
1.5_rule,22.65,18.15,16.5,35.25,12.465,90000.0
lower_bound,37.95,42.75,44.5,24.75,45.48,150000.0
upper_bound,98.35,91.15,88.5,118.75,78.72,390000.0
min,40.89,37.0,50.0,50.0,51.21,200000.0
max,89.4,97.7,91.0,98.0,77.89,940000.0

## Finding Outliers Columns using python - from the above insights

In [28]:
least_outlier_cols = [ columnName for columnName in quan if descriptive_analysis.loc["min",columnName]<descriptive_analysis.loc["lower_bound",columnName]]
greater_outlier_cols = [ columnName for columnName in quan if descriptive_analysis.loc["max",columnName]>descriptive_analysis.loc["upper_bound",columnName]]

In [29]:
least_outlier_cols

['hsc_p']

In [30]:
greater_outlier_cols

['hsc_p', 'degree_p', 'salary']

## Replacing Outliers in the Columns

In [41]:
# replace outliers
for columnName in quan:
    # SettingWithCopyWarning This warning in pandas occurs as the pandas doesn't know whether we are modifying the original column or just it is a temporary view. So in order to handle this, we have to use the  .loc or .iloc in the assignment code so that the loc directly reference to the original data frame and modify the changes without this warning.
    # dataset[columnName][dataset[columnName]<descriptive_analysis.loc["lower_bound",columnName]]=descriptive_analysis.loc["lower_bound",columnName]
    # dataset[columnName][dataset[columnName]>descriptive_analysis.loc["upper_bound",columnName]]=descriptive_analysis.loc["upper_bound",columnName]

    dataset.loc[dataset[columnName]<descriptive_analysis.loc["lower_bound",columnName]]=descriptive_analysis.loc["lower_bound",columnName]
    dataset.loc[dataset[columnName]>descriptive_analysis.loc["upper_bound",columnName]]=descriptive_analysis.loc["upper_bound",columnName]

In [42]:
# dataset["hsc_p"][dataset["hsc_p"]<42.75]  # dataset[column][row_condition]

In [43]:
# analysis
descriptive_analysis = pd.DataFrame(index=["Mean","Median","Mode", "Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%","IQR", "1.5_rule", "lower_bound", "upper_bound","min","max"],columns=quan)
for columnName in quan:
    descriptive_analysis.loc["Mean",columnName]=dataset[columnName].mean()
    descriptive_analysis.loc["Median",columnName]=dataset[columnName].median()
    descriptive_analysis.loc["Mode",columnName]=dataset[columnName].mode()[0]
    descriptive_analysis.loc["Q1:25%",columnName]= dataset.describe()[columnName]["25%"]   # this code handles missing values by default
    descriptive_analysis.loc["Q2:50%",columnName]= dataset.describe()[columnName]["50%"] 
    descriptive_analysis.loc["Q3:75%",columnName]= dataset.describe()[columnName]["75%"] 
    descriptive_analysis.loc["99%",columnName]= np.percentile(dataset[columnName],99)   
    descriptive_analysis.loc["Q4:100%",columnName]= dataset.describe()[columnName]["max"] 
    descriptive_analysis.loc["IQR",columnName]= descriptive_analysis.loc["Q3:75%"][columnName] - descriptive_analysis.loc["Q1:25%"][columnName]
    descriptive_analysis.loc["1.5_rule",columnName]= 1.5 * descriptive_analysis.loc["IQR",columnName]
    descriptive_analysis.loc["lower_bound",columnName]= descriptive_analysis.loc["Q1:25%"][columnName] - descriptive_analysis.loc["1.5_rule",columnName]
    descriptive_analysis.loc["upper_bound",columnName] = descriptive_analysis.loc["Q3:75%"][columnName] + descriptive_analysis.loc["1.5_rule",columnName]
    descriptive_analysis.loc["min",columnName] = dataset[columnName].min()
    descriptive_analysis.loc["max",columnName] = dataset[columnName].max()
    descriptive_analysis

descriptive_analysis

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,75.7,73.0,72.0,83.5,66.255,300000.0
99%,87.0,91.129,83.86,97.0,76.1142,NaN
Q4:100%,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,15.1,12.1,11.0,23.5,8.31,60000.0
1.5_rule,22.65,18.15,16.5,35.25,12.465,90000.0
lower_bound,37.95,42.75,44.5,24.75,45.48,150000.0
upper_bound,98.35,91.15,88.5,118.75,78.72,390000.0
min,40.89,42.75,50.0,50.0,51.21,200000.0
max,89.4,91.15,88.5,98.0,77.89,390000.0

In [44]:
# check outliers
least_outlier_cols = [ columnName for columnName in quan if descriptive_analysis.loc["min",columnName]<descriptive_analysis.loc["lower_bound",columnName]]
greater_outlier_cols = [ columnName for columnName in quan if descriptive_analysis.loc["max",columnName]>descriptive_analysis.loc["upper_bound",columnName]]

In [45]:
least_outlier_cols

[]

In [46]:
greater_outlier_cols

[]